.home-container {
  gap: 38px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px 179px 16px 179px;
  box-sizing: border-box;
  background-color: #ffffff;
  overflow: hidden;
}

.navbar {
  gap: 122px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  margin: 0px 0px 32px 0px;
  padding: 0px 1px 0px 0px;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.home-logo {
  width: 125px;
  height: 75px;
  flex-shrink: 0;
  margin: 0px 18px 0px 0px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #ce3737;
}

.nav-link {
  width: 75px;
  height: 25px;
  flex-shrink: 0;
  margin: 25px 18px 25px 0px;
  box-sizing: border-box;
  background-color: #c72e2e;
}

.connect-wallet-btn {
  width: 125px;
  height: 75px;
  flex-shrink: 0;
  padding: 0px;
  border-width: 0px;
  box-sizing: content-box;
  background-color: #c32626;
  cursor: pointer;
}

.markets-text {
  margin: 0px 0px 0px 250px;
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
  box-sizing: border-box;
}

.markets-group {
  gap: 69px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  box-sizing: border-box;
}

.market-graph {
  width: 400px;
  height: 350px;
  flex-shrink: 0;
  margin: 0px 10px 0px 0px;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.market-graph-1 {
  width: 400px;
  height: 350px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.events-text {
  margin: 0px 0px 0px 250px;
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  text-align: center;
  box-sizing: border-box;
}

.events-group {
  gap: 68px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
  box-sizing: border-box;
}

.event-card {
  width: 400px;
  height: 350px;
  flex-shrink: 0;
  margin: 0px 10px 0px 0px;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.event-card-1 {
  width: 400px;
  height: 350px;
  flex-shrink: 0;
  box-sizing: border-box;
  background-color: #d9d9d9;
}

.social-navbar {
  width: 1000px;
  height: 35px;
  flex-shrink: 0;
  align-self: center;
  box-sizing: border-box;
  background-color: #d9d9d9;
}
